.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-image-1 {
  --radius: 10px;
  width: 471px;
  height: 300px;
  margin: 50px auto 60px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 217px;
  }
}